/** 边距 */
$ed-sm: 4px;
$ed-top-sm: 4px;
$ed-right-sm: 4px;
$ed-bottom-sm: 4px;
$ed-left-sm: 4px;
$ed-normal: 8px;
$ed-top-normal: 8px;
$ed-right-normal: 8px;
$ed-bottom-normal: 8px;
$ed-left-normal: 8px;
$ed-md: 12px;
$ed-top-md: 12px;
$ed-right-md: 12px;
$ed-bottom-md: 12px;
$ed-left-md: 12px;
$ed-lg: 16px;
$ed-top-lg: 16px;
$ed-right-lg: 16px;
$ed-bottom-lg: 16px;
$ed-left-lg: 16px;
/** 边框 */
$border-normal: 1px;
$border-md: 5px;
$border-xmd: 7px;
$border-lg: 10px;
$border-xlg: 12px;

/** 颜色 */
$color-grey: #566270;
$color-green-dark: #1f4e5f;
$color-green-normal: #79a8a9;
$color-green-light: #aacfd0;
$color-lighter: #f4f7f7;

/** 字体大小 */
$font-xsm: 12px;
$font-normal: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xlg: 24px;
